/* providing margin for various items */
button, div, form, input {
    margin: 10px;
}

/* providing styling for button allowing for user input of cartoon character */
#add-character {
font-weight: bold;
border-radius: 10px;
border-style: solid;
border-color: black;
background-color: yellow;
padding: 15px;
font-size: 20px;
}

/* styling for text next to user input */
#inputInfo {
    font-weight: bold;
    font-size: 25px;
}

/* additional styling for page header */
h1 {
    font-weight: bold;
    font-family: 'Luckiest Guy', cursive;
    font-size: 80px;
    text-align: center;
}

/* styling for page background */
html, body {
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/mCz7hqj/videoblocks-4k-cartoon-sun-burst-seamless-loop-motion-background-yellow-purple_r3va2eril_thumbnail-full01.png');
    background-color: yellow;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    overflow: auto;
}

/* provides for floating and spacing of gif's added to web page allowing them to flow left to right */
#float {
    float: left;
    margin: 10px;
}

/* provides styling for line located between buttons showing cartoon characters and gif's displayed */
hr {
    border-color: black;
    border-width: 1.5px;
}

/* provides styling for the buttons generated for each cartoon character and allowing them to flash */
button {
    font-weight: bold;
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
    0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }
  
  @keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }